* {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                        "main"
                        "footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    padding: 5px;
}

header h1 {
    margin: 0;
}

main {
    grid-area: main;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    font-size: 1.1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: darkred;
}

footer {
    grid-area: footer;
    border-top: 1px solid gray;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    border-radius: 20px;
    background-color: white;
    border: 2px solid transparent;
}

.card:hover {
    border: 2px solid white;
    box-shadow: 2px 5px 0px #3355;
}

.beanie-card img {
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.beanie-card {
    transition: transform .5s;
}

.beanie-card:hover {
    transform: rotate(-10deg);
}

.create-form {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.create-form div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.show-beanie {
    height: 100%;
    width: 100%;
}

.show-beanie h2 {
    margin: 0;
}

.show-beanie img {
    max-width: 200px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px #3335;
}

.blur-bg {
    background: #fff5;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.poem {
    padding: 10px;
    font-style: italic;
    line-height: .8rem;
}